body {
	background-color: slategray;
}

#head1 {
	text-align:     center;
	color:          black;
	font-style:     normal;
	font-size: 		35px;
}


#info {
	text-align:		center;
	color: 			black;
	font-size: 		italic;
	font-size: 		20px;
	font-family: 	"Times New Roman", Times, serif;
}

